@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Général */
* {
    /* "*" Permet de prendre tout du fichier html, on met ensuite les valeurs à 0 pour que tout colle (qu'il n'y est pas d'espace blanc sur les cotés) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

  /* Création de variables de couleurs pour toujours garder les mêmes sans se tromper */
:root {
    --main-white: #fff;
    --main-black: #000;
    --main-grey: #ebebeb;
    --main-gold: #c99049;
}

a {
    text-decoration: none;
    color: var(--main-white);
}
/* Fin Général */

/* -------------------------------------------------------------------------------------------------- */

/* Main */
main{
    display: flex;
    flex-direction: column;
/*  background-repeat: no-repeat;
    background-size: cover; */
}

button{
    padding: 2% 4%;
    margin: 0 3%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #c99049;
    color: #fff;
}

button:hover{
    background-color: #c98f4996;
    transition: 1s;
    color: #000;
}

.mainTitle{
    text-align: center;
    padding: 3% 0;
}

/* les deux parties */
.twoParts{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 6%;
    margin-bottom: 2%;
}

/* ------------------------------------------------------------------------------------------------------- */

/* partie gauche */
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.inputs input{
    padding: 1% 2%;
    margin: 2% 22%;
    border-radius: 8px;
    border: 1px solid black;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.allLi{
    cursor: pointer;
    list-style-type: none;
}

.allLi:hover{
    background-color: #c99049;
}

#output{
    padding: 4% 7%;
    height: 360px;
    margin: 0 18%;
    border: 1px black solid;
    border-radius: 30px;
    text-align: center;
    line-height: 2rem;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 10px 5px 5px 5px #0000001e;
}

/* ----------------------------------------------------------------------------------------------------- */

/* partie droite */
.right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.generate{
    margin: 0 15%;
}

.displayGenerate{
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 7%;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 10px 5px 5px 5px #0000001e;
}

/* ----------------------------------------------------------------------------------------------------- */

/* footer */

footer{
    color: white;
    background: black;
    text-align: center;
    padding: 4% 0;
    font-size: 10px;
}